@page "/Cars"
@using LeMansAPI.Models
@using LeMansApp.Services
@inject ApiDownloader ApiDownloader;


<PageTitle>Cars</PageTitle>

@if (CarList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Production Year</th>
            <th>Peak Power (kW)</th>
            <th>Peak Power (BHP)</th>
            <th>Curb Weight (kg)</th>
            <th>Power to weight ratio (kW/kg)</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var car in CarList)
        {
            <tr>
                <td>@car.Id</td>
                <td>@car.Brand</td>
                <td>@car.Model</td>
                <td>@car.ProductionYear</td>
                <td>@(car.PeakPowerKw.ToString("F1"))</td>
                <td>@((car.PeakPowerKw / 0.745699872).ToString("F1"))</td>
                <td>@(car.CurbWeightKg.ToString("F1"))</td>
                <td>@((car.PeakPowerKw/car.CurbWeightKg).ToString("F"))</td>
                
            </tr>
        }
        </tbody>
    </table>
}


@code {
    List<Car>? CarList;

    protected override async Task OnInitializedAsync()
    {
        CarList = await ApiDownloader.GetFromApiAsListAsync<Car>("api/Cars");
    }
}